.loading-text {
	background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%;
	-webkit-background-clip: text;
	        background-clip: text;
	color: transparent;
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

@media (forced-colors: active) {
  p {
    background: #212121;
    color: aquamarine
  }
}