@import "tailwindcss";

@theme {
  --color-secondary-dark: hsl(270, 40%, 6%);
  --color-secondary: hsl(275, 45%, 10%);
  --color-secondary-light: hsl(280, 50%, 16%);
}

:root {
  --color-secondary-dark: hsl(270, 40%, 3%);
  --color-secondary: hsl(275, 45%, 10%);
  --color-secondary-light: hsl(280, 50%, 16%);

  --text: hsl(0, 0%, 96%);
  --text-muted: hsl(0, 0%, 86%);
}

body {
  background-color: var(--color-secondary-light);
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

bold {
  font-weight: bold;
}

.text{
  color: var(--text);
}

.text-muted{
  color: var(--text-muted);
}

.px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 640px) {
  .px {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 840) {
  .px {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1024px) {
  .px {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

@media (min-width: 1540) {
  .px {
    padding-left: 24rem;
    padding-right: 24rem;
  }
}

.base-card {
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  background-color: var(--color-secondary);
}